<div id="content">
                	<div id="block">
           	    		<h6><img align="absmiddle" src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/ico3.png" />&nbsp;&nbsp;Tin t&#7913;c</h6>
						<ul id="news">
							<li>
								<table width="100%" style="font-size:12px;">
									{foreach from=$list name=list item=list}
									<tr>
										<td width="80" align="center"><img src="{$smarty.const.URL_NEWS_THUMB}{$list.Image_Name}" width="75" /></td>
										<td align="left" valign="top"><a href="{$smarty.const.URL_HOMEPAGE}/news/view/{$list.News_ID}/detail.html"><b>{$list.Title}</b></a><br/>{$list.Summary}
										</td>
									</tr>
									<tr><td colspan="2" height="10">&nbsp;</td></tr>
									{/foreach}
									{if $paging}
									<tr><td colspan="2" height="10" align="center">{$paging}</td></tr>
									{/if}
								</table>
							</li>
						</ul>	
					</div>
</div>