<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="{$time};url={$goto}" />
<div id="content">
                	<div id="block">
           	    		<h6><img align="absmiddle" src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/ico3.png" />&nbsp;&nbsp;{$smarty.const._MESS_SYSTEM}</h6>
						<ul id="news">
							<li>
								<p>
									<div style="text-align:center; color:#d00001; font-size:16px;"><b>{$thongbao}</b></div>
								</p>
							</li>
						</ul>
					</div>
</div>					