<div id="bgwrap">
    <!-- Main Content -->
    <div id="content">
        <div id="main">
            <h1>Quản lý tin giới thiệu</h1>
            {if $rs}
            <form name="frm_information" method="POST">
                <div style="text-align:right"><input type="button" name="btn_del" class="button" value="Xóa" onClick="del_information('frm_information');" />
                    <input name="btnAddNew" type="button" value="Thêm" class="button" onclick="window.location='index.php?module=information&a=add'"/>
                </div>
                <table class="fullwidth" border="0" cellpadding="0" cellspacing="0"><tbody>
                <thead><tr>
                    <td width="15" align="center"><input type="checkbox" class="checkall" name="all" id="all"></td>
                    <td width="150"><b>Hình minh họa</b></td>
                    <td align=""><b>Tiêu đề</b></td>
                    <td align="center"><b>Thao tác</b></td>
                </tr></thead>
                {foreach from=$rs item=rs name=rs}
                <tr bgcolor={cycle values="#FFFFFF,#EEEEEE"}>
                <td width="15" align="center"><input type="checkbox" class="checkboxnut"name="check_del[]" value="{$rs.Information_ID}" /></td>
                <td><img src="{if $rs.Image neq ''}{$smarty.const.URL_NEWS_THUMB}{$rs.Image}{else}{$smarty.const.URL_HOMEPAGE}/upload/no_image_50.jpg{/if}" width="72" /></td>
                <td>{$rs.Title}</td>
                <td align="center" width="150"><a href="?module=information&a=update&id={$rs.Information_ID}" title="Cập nhật thông tin" alt="Cập nhật thông tin" class="tooltip">Cập nhật</a></td>
                </tr>
                {/foreach}
                {if $paging}
                <tr><td align="center" colspan="9">{$paging}</td></tr>
                {/if}
                </tbody>
                </table>
                <div style="text-align:right"><input type="button" name="btn_del" class="button" value="Xóa" onClick="del_information('frm_information');" />
                    <input name="btnAddNew" type="button" value="Thêm" class="button" onclick="window.location='index.php?module=information&a=add'"/>
                </div></form>
            {else}
            <div class="message information">
                <h2>Thông báo</h2>
                <p>Hiện tại chưa có thông tin</p>
            </div>
            {/if}
        </div></div>
    {literal}
    <script type="text/javascript" charset="utf-8">

        function del_information(frmName)
        {
            var frm = document.forms[frmName];
            var items = document.getElementsByName("check_del[]");
            var enable = false;
            for (var i=0; i<items.length; i++)
            {
                if (items[i].checked==true)
                {
                    enable = true;
                    break;
                }
            }
            if (frm && enable)
            {
                $.prompt('Bạn muốn xóa thông tin này?',{
                    buttons:{Ok:true, Cancel:false},
                    callback: function(v,m){

                        if(v){
                            frm.action = "?module=information&a=delete";
                            frm.submit();
                        }
                        else{}
                    }
                });
            }
            else
                frm.onclick = $.prompt('Vui lòng chọn thông tin bạn muốn xóa!!!');
            return false;
        }
    </script>
    {/literal}