<!-- Background wrapper -->
<div id="bgwrap">
    <!-- Main Content -->
    <div id="content">
        <div id="main">
            <h1>Cập nhật tin giới thiệu</h1>
            <div class="pad20">
                <!-- Big buttons -->
                <form name="frm_information_upd" method="post" enctype="multipart/form-data" onSubmit="return check_value(frm_information_upd);">
                    <!-- Fieldset -->
                    <fieldset>
                        <legend>Thông tin</legend>
                        <p><label for="sf">Thuộc danh mục: </label>
                            <select id="information_category" name="information_category">
                                <option value="0">--- Chọn danh mục ---</option>
                                {section name=rs loop=$rs}
                                <option value="{$rs[rs].InCat_ID}" {if $rs[rs].InCat_ID eq $detail.Information_CatID}selected="selected"{/if} style="background-color:#EEEEEE; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;"><b>{$rs[rs].Name}</b></option>
                                {section name=sub loop=$sub[rs]}
                                <option value="{$sub[rs][sub].InCat_ID}" {if $sub[rs][sub].InCat_ID eq $detail.Information_CatID}selected="selected"{/if}>&nbsp;&nbsp;&nbsp;&nbsp;&brvbar;--&nbsp;{$sub[rs][sub].Name}</option>
                                {/section}
                                {/section}
                            </select>&nbsp;<font color="#FF0000">*</font>
                        </p>
                        <p><label for="sf">Tiêu đề: </label>
                            <input type="text" class="mf" name="title" value="{$detail.Title}" id="title" maxlength="200"/><font color="#FF0000"><b>*</b></font>
                        </p>
                        <p><label for="sf">Tiêu đề (tiếng Anh): </label>
                            <input type="text" class="mf" name="title_en" value="{$detail.Title_EN}" id="title_en" maxlength="200"/><font color="#FF0000"><b>*</b></font>
                        </p>
                        <p><label for="sf" style="vertical-align:top" >Mô tả: </label>
                            <textarea type="text" name="summary" cols="50" rows="5" id="summary"/>{$detail.Summary}</textarea>
                        </p>
                        <p><label for="sf" style="vertical-align:top" >Mô tả (tiếng Anh): </label>
                            <textarea type="text" name="summary_en" cols="50" rows="5" id="summary_en"/>{$detail.Summary_EN}</textarea>
                        </p>
                        <p><label for="sf" style="vertical-align:top" >Chi tiết: </label>
                            {$description}
                        </p>
                        <p><label for="sf" style="vertical-align:top" >Chi tiết (tiếng Anh): </label>
                            {$description_en}
                        </p>
                        <p><label for="sf" style="vertical-align:top" >Hình minh họa: </label>
                            <input type="file" name="filename" class="mf" />
                        </p>
                        <p><label for="sf" style="vertical-align:top" >Nguồn tin: </label>
                            <input type="text" name="source" class="mf" value="{$detail.Source}" id="source" maxlength="100"/>
                        </p>
                        <p>
                            <input type="hidden" name="id" value="{$detail.Information_ID}" />
                            <input type="hidden" name="old_img" value="{$detail.Image}" />
                            <input type="submit" class="button"  name="btn_submit" value="Lưu"/>
                        </p>
                    </fieldset>
                    <!-- End of fieldset -->
                </form>
            </div>
        </div>
    </div>
    {literal}
    <script type="text/javascript" charset="utf-8">
        function check_value(form)
        {
            if(form.title.value=="")
            {
                form.onclick = $.prompt('Vui lòng nhập tiêu đề!!!');
                form.title.focus();
                return false;
            }
            if(form.summary.value=="")
            {
                form.onclick = $.prompt('Vui lòng nhập tóm tắt nội dung!!!');
                form.summary.focus();
                return false;
            }
            if(form.information_category.value == 0) {
                form.onclick = $.prompt('Vui lòng chọn danh mục giới thiệu!!!');
                form.information_category.focus();
                return false;
            }
        }
    </script>
    {/literal}