<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="{$time};url={$goto}" />
<title>Thông báo</title>
</head>
<!-- Background wrapper -->
<body>
			<div id="bgwrap">		
				<!-- Main Content -->
				<div id="content">
					<div id="main">
						<h1>Thông báo từ hệ thống</span>!</h1>
						{if $type eq 1}
							<div class="message success">
							<h2>Thành công!</h2>							
						{elseif $type eq 2}
							<div class="message warning">
							<h2>Cảnh báo!</h2>							
						{elseif $type eq 3}
							<div class="message error">
							<h2>Lỗi!</h2>							
						{else}
							<div class="message information">							
							<h2>Thông tin!</h2>
						{/if}
						<p>{$thongbao}</p>
						</div>
        	</div>
				</div>
				<!-- End of Main Content -->		
</body>
</html>
