


<div class="container">
                                                    <div class="width">
                                                                                                                <div id="banner">
                                                             <div class="bannergroup">

<div class="banneritem"><img src="{$smarty.const.URL_HOMEPAGE}/images/banner_02.jpg" alt="Banner" border="0" /><div class="clr"></div>
	</div>

</div>	
                                                        </div>
                                                                                                                <div id="vmMainPage">

<h3 class='pageTitle'><span>&nbsp;&nbsp;THÔNG BÁO</span></h3>
<div class="clear featured">    
	<font color="#FF0000"><center>{$disable_message}</center></font>
</div>	
	
		 