<div class="footer">
			<div class="footer_left">2012 bản quyền thuộc về DNTN Biên Hải Quán. <br/>
				Địa chỉ: Tổ 1, ấp Gành Dầu, xã Gành Dầu, huyện Phú Quốc, tỉnh Kiên Giang <br/>
				Điện thoại: 0773.845423 - Email: contact@bienhaiquan.com
			</div>
			<div class="footer_right">
				<ul>
					<li><a href="#">{$smarty.const._ABOUTUS}</a></li>
					<li><a href="#">{$smarty.const._PRODUCTS}</a></li>
					<li><a href="{$smarty.const.URL_HOMEPAGE}/news.html">{$smarty.const._NEWS}</a></li>
					<li><a href="{$smarty.const.URL_HOMEPAGE}/contact.html">{$smarty.const._CONTACT}</a></li>
				</ul>
				<div class="social">
					<a href="#"><img src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/social_03.jpg" /></a>
					<a href="#"><img src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/social_05.jpg" /></a>
					<a href="#"><img src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/social_07.jpg" /></a>
					<a href="#"><img src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/social_09.jpg" /></a>
				</div>
			</div>
			<div class="footer_bottom">
				<a href="#"><img src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/thanhtoan_16.png" /></a>
				<a href="#"><img src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/thanhtoan_18.png" /></a>
				<a href="#"><img src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/thanhtoan_20.png" /></a>
			</div>
		</div>
	</div>
</body>
</html>
{literal}
<script type="text/javascript"><!--
$('.image-additional .jcarousel-skin-opencart').myjcarousel({
vertical: false,
visible: 2,
scroll: 1,
contentWidth: 390
});
//--></script>
{/literal}