<!-- Footer -->
<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">

			<div class="4u">

				<!-- Links -->
				<section class="widget contact">
					<h3><img src="{$smarty.const.URL_HOMEPAGE}/templates/{$template}/images/logo-footer.png"></h3>
					<ul>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>
				</section>

			</div>
			<div class="4u">

				<!-- Links -->
				<section class="widget links">
					<h3>Hỗ trợ</h3>
					<ul class="style2">
						<li><a href="#">Thủ tục yêu cầu xét nghiệm</a></li>
						<li><a href="#">Hướng dẫn lấy mẫu tại nhà</a></li>
						<li><a href="#">Phương thức thanh toán</a></li>
						<li><a href="#">Thủ tục nhận kết quả</a></li>
					</ul>
				</section>

			</div>
			<div class="4u">

				<!-- Contact -->
				<section class="widget last">
					<h3>Liên hệ</h3>

					<p class="add"> Điểm thu mẫu  Hà nội<br />
						Địa chỉ:</p>
					<p class="add"> Điểm thu mẫu Huế<br />
						Địa chỉ:</p>
					<p class="add"> Văn phòng TPHCM<br />
						Địa chỉ:</p>
				</section>

			</div>
		</div>
		<div class="row">
			<div class="12u">
				<div id="copyright">
					<ul class="menu">
						<li>&copy; Genexpress. All rights reserved</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>

</body>
</html>