<link type="text/css" href="../css/jquery.simpledialog.0.1.css" rel="stylesheet" />			
<script type="text/javascript" src="../jscripts/jquery.simpledialog.0.1.min.js"></script>
<div id="bgwrap">		
				<!-- Main Content -->
				<div id="content">
					<div id="main">
						<h1>Danh s&aacute;ch đơn hàng</h1>        
				{if $rs}<form name="frm_order_manager" method="POST">
				<div style="text-align:right">
<input name="btnDelete" type="button" value="X&oacute;a &#273;&#417;n h&agrave;ng"  onClick="del_order('frm_order_manager');"class="button" />
</div>		
				<table class="fullwidth" border="0" cellpadding="0" cellspacing="0"><tbody><thead><tr>    	
				<td width="5%"></td>				
			<td align="center">H&#7885; &amp; T&ecirc;n</td>
		    <td align="center">&#272;i&#7879;n th&#7885;ai</td>
			<td align="center">Email</td>
			<td align="center">Ng&agrave;y nh&#7853;n </td>					
			<td align="center">Tr&#7841;ng th&aacute;i </td>
			<td align="center">Thao t&aacute;c </td>		
			  	</tr></thead>
			 {foreach from=$rs item="rs" name="rs"}
		<tr bgcolor={cycle values="#FFFFFF,#EEEEEE"}>
			<td width="" align="center"><input type="checkbox" name="order_del[]" value="{$rs.Order_ID}" /></td>
			<td>{$rs.Full_Name}</td>
            <td>{$rs.Phone}</td>          
   			<td>{$rs.Email}</td>    
			<td>{$rs.Create_Time_Change}</td>
		    <td>{if $rs.Status eq 0}Ch&#432;a x&aacute;c nh&#7853;n{elseif $rs.Status eq 1}&#272;&atilde; x&aacute;c nh&#7853;n{elseif $rs.Status eq 2}H&ograve;an th&agrave;nh{else}Kh&ocirc;ng h&ograve;an th&agrave;nh{/if}
             </td>							      
			<td align="center">
<a href="index.php?module=order_view_detail&id={$rs.Order_ID}" class="simpledialog">&nbsp;Xem </a>&nbsp;-&nbsp;
			{if $rs.Status eq 0}<a style="text-decoration:none" href="?module=product&a=process_order&id={$rs.Order_ID}&status=1">&nbsp;Xác nhận</a>
			{elseif $rs.Status eq 1}<a style="text-decoration:none" href="?module=product&a=process_order&id={$rs.Order_ID}&status=2">&nbsp;Hoàn thành?</a> - <a style="text-decoration:none" href="?module=product&a=process_order&id={$rs.Order_ID}&status=3" >&nbsp;Hủy?</a>			
			{/if}</td>			
		</tr>
		{/foreach}
		{if $paging}
		<tr>
			<td style="border:none;" colspan="9" align="center">{$paging}</td>
		</tr>
  		{/if}		
			 </tbody>
			</table>			
<div style="text-align:right">
<input name="btnDelete" type="button" value="X&oacute;a &#273;&#417;n h&agrave;ng"  onClick="del_order('frm_order_manager');"class="button" />
</div>
</form>
{else}
	 <div class="message information">
	<h2>Thông báo</h2>
	<p>Hiện tại chưa có thông tin</p>
</div>
			{/if}
</div></div>
{literal}
<script type="text/javascript" charset="utf-8">	    
$(document).ready(function () {
  $('.simpledialog').simpleDialog({
  width: 600
});
}); 	      
function del_order(frmName)
{
	var frm = document.forms[frmName];
	var items = document.getElementsByName("order_del[]");
	var enable = false;
	for (var i=0; i<items.length; i++)
	{
		if (items[i].checked==true)
		{
			enable = true;
			break;
		}
	}
		if (frm && enable)
			{
				$.prompt('B&#7841;n mu&#7889;n x&oacute;a &#273;&#417;n h&agrave;ng n&agrave;y?',{ 
					buttons:{Ok:true, Cancel:false},
					callback: function(v,m){
				
					if(v){
					frm.action = "?module=product&a=delete_order";
					frm.submit();
					}
					else{}
					}
			});
	}
	else
		frm.onclick = $.prompt('B&#7841;n ch&#432;a ch&#7885;n &#273;&#417;n h&agrave;ng c&#7847;n x&oacute;a!!!');		
	return false;
}
</script>
{/literal}