<!-- Background wrapper -->
			<div id="bgwrap">		
				<!-- Main Content -->
				<div id="content">
					<div id="main">
						<h1>Th&ecirc;m danh m&#7909;c</h1>
							<div class="pad20">
					<!-- Big buttons -->
							<form name="frm_product_category_add" method="post" enctype="multipart/form-data" onSubmit="return check_value(frm_product_category_add);">
							<!-- Fieldset -->
							<fieldset>   
							<legend>Thông tin</legend>
								<p><label for="sf">Tên danh mục: </label>
									<input type="text" class="mf" name="category_name" value="" id="category_name" maxlength="200"/><font color="#FF0000"><b>*</b></font>
								</p>
                                <p><label for="sf">Tên danh mục (tiếng Anh): </label>
									<input type="text" class="mf" name="category_name_en" value="" id="category_name_en" maxlength="200"/><font color="#FF0000"><b>*</b></font>
								</p>
								<p><label for="sf" style="vertical-align:top" >Thuộc danh mục sản phẩm: </label>
								<select id="cat" name="cat">
								<option value="0">--- Chọn danh mục ---</option>
								{if $list_category_parent neq ''}
								 {foreach name=list_category_parent from=$list_category_parent item=list_category_parent}
								<option value="{$list_category_parent.Category_ID}">{$list_category_parent.Category_Name}</option>										
								{/foreach}
								{/if}
								</select>
								</p>
                                <p><label for="sf" style="vertical-align:top" >Thuộc danh mục giới thiệu: </label>
                                    <select name="infor_prodcat" id="infor_prodcat">
                                        <option value="0">--- Chọn danh mục ---</option>
                                        {section name="inc" loop=$list_infor_cat}
                                        <option value="{$list_infor_cat[inc].InCat_ID}">{$list_infor_cat[inc].Name}</option>
                                        {/section}
                                    </select>
                                </p>
								<p>								
									<input type="submit" class="button"  name="submit" value="Lưu"/>
								</p>		  
							</fieldset>
								<!-- End of fieldset -->		
							</form>
							</div> 
					</div>
				</div>	
{literal}
<script language="javascript">
function check_value(form)
{
	if(form.category_name.value=="")
	{
		form.onclick = $.prompt('Vui l&ograve;ng nh&#7853;p tên danh mục!!!');
		form.category_name.focus();
		return false;
	}			
}
</script> 
{/literal}